<a href='https://www.hexnbit.com/'> <img src='https://www.hexnbit.com/wp-content/uploads/2019/09/hexnbit_final_66px.png'/> </a>

# Assignment

Mentioned below are the tasks, the solution for each tasks has to be appended by inserting a new cell below the task,
along with the following description:-
1. Why the method was used (if applicable)
2. Explanation of logic

### Task 1
- Generate integer between (100 to 200) using while loop.
- if i want number till 155

In [39]:
i=100
while(i<=200):
    print(i,end=" ")
    i+=1

100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200

In [40]:
i=100
while(i<=200):
    print(i,end=" ")
    if(i==155):
        break
    i+=1

100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155

### Task 2
Refer task 3 and print even and odd number.

In [42]:
b=int(input())
if(b%2==0):
    print("Even")
else:
    print("Odd")

5
Odd

### Task 3
Take value from the user and Seprate them into Positive & negative number.

In [43]:
a=int(input())
if a>=0:
    print("Positive")
else:
    print("Negative")

-1
Negative

### Task 4
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")<br>Print thistuple in reverse format.

In [44]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
i=len(thistuple)-1
while(i!=-1):
    print(thistuple[i])
    i-=1

mango
melon
kiwi
orange
cherry
banana
apple

### Task 5
Calculate mean, median, mode and standard deviation of given list.<br>
A=[2,5,6,9,7,3]<br>B=[2,5,3,2,8,3,2,1,9,4,2,5,6]<br>C=[1,1.5,2,2.5,3,3.5,4,5,6,4.5,5]

In [45]:
import statistics
A=[2,5,6,9,7,3]
print(statistics.mean(A))
print(statistics.median(A))
print(statistics.stdev(A))
print(statistics.mode(A))

5.333333333333333
5.5
2.581988897471611

StatisticsError: no unique mode; found 6 equally common values

In [46]:
B=[2,5,3,2,8,3,2,1,9,4,2,5,6]
print(statistics.mean(B))
print(statistics.median(B))
print(statistics.stdev(B))
print(statistics.mode(B))

4
3
2.48327740429189
2

In [47]:
C=[1,1.5,2,2.5,3,3.5,4,5,6,4.5,5]
print(statistics.mean(C))
print(statistics.median(C))
print(statistics.stdev(C))
print(statistics.mode(C))

3.4545454545454546
3.5
1.6039723416341296
5

### Task 6:
- Write a program to find compound interest
- A = P(1 + R/100) t

    Compound Interest = A â€“ P
    Where,
    
    A is amount
    
    P is principle amount
    
    R is the rate and
    
    T is the time span

In [48]:
def function1(A,P,R,T):
    A=P*(1+(R/100))*T
    return A-P
ci=function1(10000,100,2,5)
print(ci)

410.0

### Task 7:
Write a Python program to sum all the items in a list.
[2,3,4,-4,5,6,7,12]

In [49]:
a=[2,3,4,-4,5,6,7,12]
sum=0
for i in range(len(a)):
    sum+=a[i]
print(sum)

35

### Task 8

- A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
    Ask user for their salary and year of service and print the net bonus amount.

In [50]:
sal=int(input("Salary:"))
yos=int(input("Year of Service:"))
if yos>5:
    bonus=0.05*sal
    print(bonus)

Salary:500000
Year of Service:6
25000.0

### Task 9:
- Take values of length and breadth of a rectangle from user and check if it is square or not.
- Take two int values from user and print greatest among them.

In [51]:
#first
l=int(input("Length: "))
b=int(input("Breadth: "))
if l==b:
    print("Square")
else:
    print("Not a Square")

Length: 4
Breadth: 5
Not a Square

In [52]:
#second
a=int(input())
b=int(input())
if a>b:
    print(a)
else:
    print(b)

4
5
5

### Task 10: 

- A student will not be allowed to sit in exam if his/her attendence is less than 75%.
    Take following input from user
    Number of classes held
    Number of classes attended.
    And print
    percentage of class attended
    Is student is allowed to sit in exam or not.

- Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [53]:
#first
nh=int(input("No.of classes held: "))
na=int(input("No.of classes attended: "))
e=(na/nh)*100
if e>=75:
    print("Student is allowed to sit in exam")
else:
    print("Student is not allowed to sit in exam")

No.of classes held: 50
No.of classes attended: 25
Student is not allowed to sit in exam

In [54]:
#second
nh=int(input("No.of classes held: "))
na=int(input("No.of classes attended: "))
mc=input("Medical cause:")
e=(na/nh)*100
if e>=75:
    print("Student is allowed to sit in exam")
else:
    if(mc=='Y'):
        print("Student is allowed to sit in exam")
    else:
        print("Student is not allowed to sit in exam")

No.of classes held: 50
No.of classes attended: 25
Medical cause:Y
Student is allowed to sit in exam

### Task 11:
- Write a program to find prime factor of a number.
If a factor of a number is prime number then it is its prime factor.
- Write a program to print all prime number in between 1 to 100.

In [7]:
pf=int(input())
for i in range(2,pf+1):
    flag=0
    if(pf%i==0):
        for j in range(2,(i//2)+1):
            if(i%j==0):
                flag=1
        if(flag==0):
            print(i,end=" ")

66
2 3 11

In [3]:
for i in range(2,100):
    flag=0
    for j in range(2,(i//2)+1):
        if(i%j==0):
            flag=1
    if(flag==0):
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### Task 12
- Write a program to print Fibonacci series up to n terms
    - *Hint:* 0, 1, 1, 2, 3, 5, 8, 13, 21...

In [2]:
def fibo(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
    
a=int(input())
for i in range(1,a+1):
    print(fibo(i),end=" ")

10
0 1 1 2 3 5 8 13 21 34

### Task 13:
Print the following patterns using loop :

    a.
        *
        **
        ***
        ****
    b.
          *  
         *** 
        *****
         *** 
          *

In [3]:
a="*"
for i in range(1,5):
    print(a*i)

*
**
***
****

In [36]:
n=5
k=int((n+1)//2 - 1)
sp=" "
st="*"
for i in range(1,n+1,2):
    print(k*sp,st*i)
    k-=1
    if(i==n):
        k=1
        for j in range(n-2,0,-2):
            print(k*sp,j*st)
            k+=1

   *
  ***
 *****
  ***
   *

### Task 14:
- Create a function that accepts a string and calculate the number of upper case letters and lower case letters

In [6]:
def function2(str1):
    a=str1
    u=0
    l=0
    for i in a:
        if (ord(i)>=65 and ord(i)<=90):
            u+=1
        elif (ord(i)>=97 and ord(i)<=122):
            l+=1
    print("No.of upper case letters:",u)
    print("No.of lower case letters:",l)
function2("SuPArnika")

No.of upper case letters: 3
No.of lower case letters: 6

### Task 15

- Write a Python program to convert radian to degree with using math module

In [11]:
import math
print(math.degrees(math.pi))
print(math.degrees(math.pi/3))

180.0
59.99999999999999